.imageupload{
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 10px auto;
  background-color: white;
  /* border-top: 1px solid lightgray; */
}

.imageupload__progress{
  width: 100%;
}